html, body, h1,img, p{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
     max-width: 800px;
     min-width: 400px;
}

#container{
    background-color: rgba(0, 0, 0, 0.849);
 border: 4px solid rgb(0, 0, 0);
  max-width: 50%;
    margin-top: 10px;
    margin-left: 20px;
    padding-right: 20px;
    padding-left: 20px;

}
h1{
    max-width: 100%;
    color :rgb(255, 219, 15);
    text-decoration: underline;
    border: black 4px solid;
   padding: 10px;
    margin-top: 10px;
}
img{
    border: 4px solid rgb(0, 0, 0);
    margin-top: 15px;
    max-width: 100%;
}
#first-p{
    margin-top: 15px;
    color:rgba(255, 217, 0, 0.952);
    font-weight: bold;
    font-size: em(20px);
    margin-bottom: 15px;
}
ol{
    color:rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
}

hr {
    border: 3px solid rgb(0, 0, 0);
    width: 99%;
}
p{
    color:rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 22px;
}
ol{
    color:rgba(255, 255, 255, 0.973);
    font-size: 25px;
}
hr#cc {
    border-style: solid;
}
a{
    color:goldenrod;
    font-size: 25px;
}